nav a{
    color:black;
    margin: 20px;
    text-decoration:none;
    font-weight: bold;
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}
*{
    margin:0px;
    padding: 0px;
    
    

}
nav{
    display: flex;
    flex-flow: row-reverse;
    background-color: lightgray;
}

nav a:hover{
    color:blue;

}
.container{
margin-top: 200px;
text-align: center;




}
.g-img{
    width: 300px;
    height: 100px;
    margin-bottom: 17px;
}
.s-icon{
    width: 17px;
    height: 17px;
    margin-left: 5px;
    margin-top: 5px;
}
.search-bar{
    width: 530px;
    height: 23px;
    border: none;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    margin-left: 5px;
    outline: none;
}


.search{
    width:640px;
    margin: 0 auto;
    border:1px solid gray;
    border-radius: 50px;
}


.btn-container{
    margin-top:2%;
}

.search-btn{
    height: 40px;
    
    letter-spacing: 0.5px;
border:none;
    color: black;
    background:lightgray;
    padding: 10px;
    font-size: 16px;
}

.search-btn:hover{
    color:white;
    border:1px solid darkgray;
    background: darkgray;
}

.blue-search-icon{
    position: relative;
    height:20px;
    margin-right:8px;
    margin-top: 8px;
}
.btn-blue-search{
    background-color: white;
    height:35px;
    width:20px;
    border:none;
    cursor: pointer;
    margin-top:2px;  
    margin-right: 10px;
}
.btn-blue-search:hover{
    border-left: 2px solid lightgray;
}